Options -Indexes

<FilesMatch "(\.htaccess|sqlite3)$">
Order allow,deny
Deny from all
</FilesMatch>

RewriteEngine On
RewriteRule ^data/database.sqlite3$ - [F,L]
RewriteRule ^([0-9]+)\/(.*)$ /survey_form.php?survey_id=$1&user_id=$2 [PT,L]
 